/* place your custom code here */

/*a:hover {
    text-decoration: underline;
}*/

/*a {
  text-decoration: none;
  margin-bottom: 1.25em; }
  a:hover {
    opacity: .4; }
  a:hover .arrow-right {
    transform: translateX(5px);
    transition: all .25s ease;
    display: inline-block; }
  a:hover .arrow-left {
    transform: translateX(-5px);
    transition: all .25s ease;
    display: inline-block;
  }*/
/* want underline on hover like http://benadam.me/ */
